/*
* @Author: Ayush Petigara
* @Date:   2018-09-29 21:30:26
* @Last Modified by: Ayush Petigara
*/

.navbar-brand {
  font-family: 'Rock Salt' !important;
  color: white !important;
}
.navbar-toggler {
  color: white !important;
}
.nav-item {
  font-family: 'Volkhov', monospace !important;
  /* margin: 0 .5em 0 .5em; */
}
.nav-link {
  color: white !important;
}

body {
  font-family: 'Source Code Pro', monospace !important;
}

.navbar-nav{
  align-items: flex-end;
}

.about {
  background-color: black;
  height: auto;
}

.info {
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}

.skills{
  height: auto;
  background-color: #222;
}
.skills-info {
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}
.projects {
  height: auto;
  background-color: black;
}
.project-info {
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}
.work-exp {
  height: auto;
  background-color: #222;
}

.wk-info {
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}
.name {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
}

footer {
  background-color: black;
  height: 6em;
}
.contact {
  padding-top: 2em;
}

.fab {
  color: white;
  font-size: 2.5em;
  margin-left: .2em;
}
.fab:hover {
  color: grey;
  text-decoration: none;
}

.resume {
  color: white;
  font-size: 2.1em;
  margin-left: .2em;
}
.resume:hover {
  color: grey;
  text-decoration: none;
}

.content-center{
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 500px) {
  .img-bg {
    width: 100%;
    height: 250px;
    position: relative;
    }
  .name {
    position: absolute;
    font-size: 10vw;
    top: 23%;
    width: 80%;
    margin: center;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  }
  .nav-link {
    font-size: .8rem;
  }
  .me {
    font-size: 2.7rem;
  }
  .bio {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .profile-pic {
    margin-top: 2em;
  }
}
@media only screen and (max-width: 850px) and (min-width: 500px) {
  .img-bg {
    width: 100%;
    height: 350px;
    position: relative;
  }
  .name {
    position: absolute;
    font-size: 10vw;
    top: 30%;
    width: 80%;
    margin: center;
    text-align: center;
    -webkit-text-stroke-width: .9px;
  }
  .me {
    font-size: 3rem;
  }
  .bio {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width:850px){
  .img-bg {
    width: 100%;
    height: 500px;
    position: relative;
  }
  .name {
    position: absolute;
    font-size: 7.5vw;
    top: 42%;
    width: 65%;
    margin: center;
    text-align: center;
    -webkit-text-stroke-width: 1.4px;
  }
  .me {
    font-size: 4rem;
  }
  .bio {
    font-size: 1.2rem;
  }

}
